<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Pulsestorm_HelloAdminBackend::a_menu_item"
             title="Second Level Example"
             module="Pulsestorm_HelloAdminBackend"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Magento_Backend::system_other_settings"
             action="cms/page/index"
        />
        <add id="Pulsestorm_HelloAdminBackend::menu_1"
             title="Hello Admin Backend Pestle"
             module="Pulsestorm_HelloAdminBackend"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Pulsestorm_HelloAdminBackend::a_menu_item"
             action="pulsestorm_hello_admin_backend/index/index"
        />


    </menu>
</config>